@inherits LayoutComponentBase

<a href="#main-content" class="vault-skip-link">Skip to main content</a>

<div class="vault-layout">
    <NavMenu />
    <main id="main-content" class="vault-main" tabindex="-1">
        <div class="vault-content">
            @Body
        </div>
    </main>
</div>

<ToastContainer />
